<div *ngIf="product">
  <h2>Product Details</h2>
  <h3>{{product.name}}</h3>
  <span>{{product.price | currency:'EUR'}}</span>
  <!-- usethe json pipe for debugging-->
  <!-- <p>{{product | json}} </p> -->
  <div [ngSwitch]="product.name">
    <p *ngSwitchCase="'Webcam'">
      Product is used for video
    </p>
    <p *ngSwitchCase="'Microphone'">
      Product is used for audio
    </p>
    <p *ngSwitchCase="'Wireless Keyboard'">
      Product is used for typing
    </p>
    <p *ngSwitchDefault>
      Product is for general use
    </p>

  </div>
  <button (click)="buy()">Buy Now!</button>

</div>
<input appNumeric/>
<!-- <span>{{productName}} </span>-->

